aside {
    float: left;
    width: 150px;
}

.add_category_button
{
    
        padding: 7px 10px;
        font-size: 0.875rem;
        line-height: normal;
        border-radius: 0.2rem;
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
        margin-right: 10px;
        position: relative;
        top: 1px;  
        text-decoration: none;
        cursor:pointer;
      
       
}